* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
  font-family: "Bubblegum Sans", sans-serif;
  color: white;
}

/* BODY */
body {
  background: linear-gradient(45deg, #190361 0%, #b0f 100%);
  font-size: 1.6rem;
  text-align: center; /* alinha campo das palavras ao centro */

  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem;

  height: 100%;
}

/* HEADER */
.header {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  animation: appear 2s;

  h1 {
    font-size: 3.6rem;

    span {
      color: #74f4b0;
    }
  }

  p {
    font-size: 2rem;
    line-height: 3.2rem;
  }
}

/* HANGMAN PARTS */
.hangman svg {
  background: white;
  padding: 2rem;
  border-radius: 1rem;

  position: absolute;
  top: 40%;
  left: 50%;
  width: 64vw;
  height: 40vh;
  transform: translate(-50%, -50%);
}

.hangman line,
.hangman circle {
  stroke: black;
  stroke-width: 4;
  fill: none;
}

/* HANGMAN */
.hangman {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  animation: appear-2 4s; /* As imgs já comecam do ponto menor e depois aumentam*/

  .mask {
    font-size: 4rem;
  }
}

.alphabet-letters {
  button {
    border: none;
    border-radius: 0.6rem;
    padding: 1rem;
    margin: 0.4rem;

    width: 4rem;
    height: 4rem;

    cursor: pointer;
  }

  button:hover {
    background: #74f4b0;
  }

  button[disabled] {
    cursor: not-allowed;
  }
}

/* POPUP */
.popup-wrapper {
  position: absolute;
  inset: 0;
  opacity: 1;

  background: rgba(0, 0, 0, 0.7);

  display: grid;
  place-content: center;

  .popup {
    background: white;
    border-radius: 1rem;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 4rem 2rem;

    width: 50vw;
    height: 25vh;

    .status-popup {
      font-size: 2rem;
    }

    a {
      text-decoration: underline;
      font-size: 1.2rem;
    }
  }

  #reset-button {
    background: #23bb08;
    width: 80%;

    color: #fff;
    font-size: 1.6rem;
  }

  #reset-button:hover {
    background: #136e03;
  }
}

/* ANIMATIONS */
@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.1);
  }
}

@keyframes appear-2 {
  0% {
    opacity: 0;
  }

  100% {
  }
}
